<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Edit the Blog
        </title>
        <meta name="author" content="Damanvir Singh">
        <link rel="stylesheet" href="/assets/css/font-awesome.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <script src="/assets/script/jquery-3.2.1.min.js"></script>
        <style>
            h3 {
                font-size:30px;
                margin:20px 0px;
                font-family: "Trebuchet MS",sans-serif;
            }
            p {
                font-size:18px;
                line-height:1.5;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin-bottom:12px;
            }
            figure {
                margin:20px 0px;
            }
        </style>
    </head>
    <body>
        <div id="pageCtn">
            <header id="mainHeader">
                <header id="mainHeader">
                    <div class="topHeader">
                        <div class="fixedWidth">
                            <div class="headsWrap">
                                <div class="topHeaderWrapper clearfix">
                                    <div class="leftSection">
                                    </div>
                                    <div class="rightSection">
                                        <ul class="extraNav">
                                            <!--<li><a ><i class="fa fa-search" aria-hidden="true">
                                                <form method="get" action="/search">
                                                    <input type="text" name="search" placeholder="enter text"/>
                                                </form>
                                            </i></a>--></li>
                                            <% if( typeof(someAttribute) !== 'undefined' ) { %>
                                                <li><a id="namePerson" href="/enter"><%=someAttribute%></a>
                                                    <ul class="submenu">
                                                        <li><a href="/enter">Create a Blog</a></li>
                                                        <li><a href="/profile">Edit Your Profile</a></li>
                                                        <li><a href="/blog/<%= userId %>">Your Stories</a></li>
                                                    </ul>
                                                </li>
                                                <li style="display:none"><%=userId%></li>
                                                <li><a href="logout">Logout</a></li>
                                            <%}else{%>
                                            <li><a href="GettingStarted/#SigningIn" class="signin">Sign in</a></li>
                                            <li class="signUpPage"><a href="GettingStarted">Get Started</a></li>
                                            <%}%>
                                        </ul>
                                    </div>                                
    
                                    <div class="logoCtn" style="text-align:center">
                                            <a href="/"><h1 style="height:35px; width:100px;margin:0 auto;"><img src="/assets/images/logo.png" style="width:100%;height:35px;"></h1></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navCtn">
                        <div class="fixedWidth">
                            <nav>
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/topic/technology">Technology</a></li>
                                    <li><a href="/topic/creativity">Creativity</a></li>
                                    <li><a href="/topic/entrepreneurship">Entrepreneurship</a></li>
                                    <li><a href="/topic/stories">Real Stories</a></li>
                                    <li><a href="/topic/design">Digital Design</a></li>                                
                                </ul>
                            </nav>
                        </div>
                    </div>
                </header><!-- ********* Header *********** -->

            <main>
                <article style="width:740px;min-height:600px; margin:0 auto; margin:20px auto 70px;">
                    <header>
                        <div class="ctnProfile clearfix">
                            <div class="leftSection">
                                <div class="imageWrapperProf" style="height:40px; width:40px;border-radius:50%;overflow:hidden">
                                        <a href="/blog/<%= userId %>"><img src="<%= Image %>" style="height:100%;width:40px;"></a>
                                </div>
                            </div>
                            <div class="leftSection" style="padding-left:12px;padding-top:5px;">                                
                                    <a href="/blog/<%= userId %>"><h5 style="color:rgba(1,1,1,.65);font-size:12px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> <%= someAttribute  %></h5></a>                                
                                <p style="margin-bottom:0px;font-size:14px;color:rgba(1,1,1,.3);font-style:italic">Draft</p>
                            </div>
                        </div>
                    </header>
                    <div role="textbox" contenteditable="true" class="ged"  g_editable="true" aria-multiline="false" onkeyup="works(event)">
                        <section>
                            <div class="sectionContent">
                                <div class="section-inner sectionLayout--insertColumn">
                                    <h3 class="graf-title" type="1"><br></h3>                                    
                                    
                                    <!--<h3 class="sectionTitle" type="1">About JioPhone</h3>
                                    <figure contenteditable="false">
                                        <div class="">
                                            <img src="">                                            
                                        </div>
                                        <figcaption>

                                        </figcaption>
                                    </figure>
                                    <p class="after--figure">Jio Phone is out of the huge demand in India.</p>
                                    <p class="after--p" onmouseup="foo();">Jio Phone is out of the huge demand in India.</p>-->
                                </div>
                            </div>
                        </section>
                    </div>
                  <!--  <div class="">
                        <button type="button" id="btnsUplo" style="width:50px;height:50px;border-radius:50%;background:white;border:1px solid #ccc;">Fi</button>
                        <input type="file" accept="image/*" name="imgs" id="mgsi">
                    </div>-->
                    
                    <div id="chos" style="height:30px; width:auto; position:absolute;border-right:1px solid rgba(0,0,0,.15);top:0;left:0;display:show">
                        <span style="font-size:16px; letter-spacing:1px;color:#ccc;padding-top:24px;margin-right:15px;display:block;width:100%">Title</span>
                    </div>
                    <div id="optios" style="height:30px; width:auto; position:absolute;top:-5px;left:0;display:none">
                        <!--<form method="POST" action="/endpoint" enctype="multipart/form-data">-->
                            <button type="button" id="btnsUplo" style="width:auto;height:30px;border-radius:10%;background:white;border:1px solid #ccc;"><i style="font-size:20px; color:#555" class="fa fa-x fa-camera" aria-hidden="true"></i></button>
                            <input type="file" accept="image/*" name="imgs" id="mgsi" style="display:none;position:absolute;">
                            <!--<button type="submit" id="btnsub">Submit</button>
                        </form>-->
                            <!--<label for="image_uploads">Choose images to upload (PNG, JPG)</label>
                            <input type="file" id="image_uploads" name="image_uploads" accept="image/*">-->
                    </div>
                    <script>
                            var fileUp = document.querySelector("#btnsUplo");                                                
                            var sd = document.querySelector("#mgsi");
                            //var preview = document.querySelector('.preview');
                            
                            fileUp.addEventListener("click", function () {                                
                                sd.click();                            
                                console.log("click");                                
                            });
                            sd.addEventListener("change", function() {                                    
                                    var curFiles = sd.files;                                                                                                         
                                    console.log(sd.files);
                                    for(var i = 0; i < curFiles.length; i++) {                                                                                                 
                                        var figure = document.createElement('figure');     
                                        var image = document.createElement('img');                                
                                        var getss = document.querySelector(".isSelected");
                                        var reader = new FileReader();
                                        if(validFileType(curFiles[i])) {                  
                                            
                                            reader.onload = function()
                                            {
                                            
                                            
 
                                            var sp2 = getss.parentNode;
                                            sp2.insertBefore(figure,getss);
                                            //sp2.removeChild(getss);
                                            figure.setAttribute("data-figure",true);
                                            //figure.setAttribute("class","isSelected");
                                            figure.setAttribute("contenteditable",false);
                                            image.src=reader.result
                                            //image.src = window.URL.createObjectURL(curFiles[i]);                                            
                                            //var blob = image.src.replace(":http://localhost:3000/",":");
                                            image.setAttribute("data-imageName",image.src);
                                            image.setAttribute("style","width:100%;");                                                                               
                                            figure.appendChild(image);
                                            }
                                        reader.readAsDataURL(curFiles[i]);             
                                        }
                                    }                                        
                                    function validFileType(file) {
                                        var fileTypes = [
                                            'image/jpeg',
                                            'image/pjpeg',
                                            'image/png'
                                        ];
                                        for(var i = 0; i < fileTypes.length; i++) {
                                            if(file.type === fileTypes[i]) {
                                               return true;
                                            }
                                        }
                                        return false;
                                    }    
                                });                                                            
                           // var reader = new FileReader();    
                            //reader.onload = (function(aImg)
                             //{ return function(e) { aImg.src = e.target.result; }; })(img);    
                    //reader.readAsDataURL(file);                            
                        </script>
                    <script>
                        /*var input = document.querySelector('#image_uploads');
                        var preview = document.querySelector('.preview');

                        input.style.opacity = 0;

                        input.addEventListener('change', updateImageDisplay);

                        function updateImageDisplay() {                            
                             var curFiles = input.files;                                                                                                                    
                            for(var i = 0; i < curFiles.length; i++) {         

                                var image = document.createElement('img');                                
                                image.src = window.URL.createObjectURL(curFiles[i]);
                                image.setAttribute("style","width:100%;");
                                preview.appendChild(image);                                                    
                            }
                        }                        */
                        
                    </script>
                    <script>

                        var c = document.querySelector(".section-inner");   
                        var nextSiblings, previousSiblings,TopOffset,LeftOffset,HeightNF;
                        function getPosition() {
                                    if (window.getSelection) {
                                        sel = window.getSelection();
                                        console.log(sel);
                                         nextSiblings= sel.focusNode.nextElementSibling;
                                        previousSiblings = sel.focusNode.previousElementSibling;                                        
                                         TopOffset = sel.focusNode.offsetTop;
                                         LeftOffset = sel.focusNode.offsetLeft;
                                         if(previousSiblings.tagName.toLowerCase() == "h3") {
                                            sel.focusNode.setAttribute("data-subtitle",true);
                                         } else {
                                            sel.focusNode.setAttribute("data-subtitle",false);                                            
                                            console.log(previousSiblings.className);
                                          
                                         }
                                         var e = previousSiblings.className.replace("isSelected","");                                             
                                            previousSiblings.className = e;
                                          sel.focusNode.className="graf-p graf-after-"+previousSiblings.tagName+" isSelected";
                                         sel.focusNode.tabIndex = 2;
                                         HeightNF = sel.focusNode.offsetHeight;
                                        if (sel.getRangeAt) {
                                            console.log(sel.getRangeAt(0));
                                            return sel.getRangeAt(0).startOffset;
                                        }
                                    }
                                    return null;
                                }                                                                                                        

                        function works(event) {
                            if(event.keyCode == 13) {
                                document.execCommand('formatBlock', false, 'p');
                                console.log(getPosition());    
                                if(getPosition() == 0) {
                                    var optios = document.querySelector("#optios");                                                                   
                                    optios.style.display="block";
                                    optios.style.left = LeftOffset-55 +"px";
                                    optios.style.top = TopOffset+"px";                                                                                                                                                                        
                                   // optios.style.height = HeightNF + "px";
                                    console.log(HeightNF);                      
                                    var editable = document.querySelector(".isSelected");
editable.addEventListener('input', function() {
    console.log('Hey, somebody changed something in my text!');
});               
                                }
                            } else {
                    
                            }
                        }

                        

                        for(var i = 0; i<c.children.length;i++) {
                            
                            if(c.children[i].tagName.toLowerCase()=="p") {                                
                                console.log(i+ " : " +  c.children[i].tagName);
                            } 

                        }

                         /*var c = document.querySelector(".section-inner");
                        function ente(e) {
                            
                            if(e.keyCode == 13) {
                                //var o = c.children[c.childElementCount-1];

                                console.log();
                                //console.log(o.tagName);
                                
                            }
                        }*/
            
                    </script>
                    <script>
                        var o  = document.querySelector(".graf-title");                        
                        var chos = document.querySelector("#chos");                                            
                        var oHeight = o.offsetHeight;
                        var widthChos = chos.offsetWidth;
                        chos.style.left = o.offsetLeft -(widthChos+5) +"px";
                        chos.style.top = o.offsetTop+"px";                                                                                                                                                                        
                        chos.style.height = oHeight + "px";
                    </script>

                   
                                      
                    <script>
                        function foo() {
                            var selObj = window.getSelection(); 
                            alert(selObj);
                            var selRange = selObj.getRangeAt(0);
                            // do stuff with the range
                        }
                        
                    </script>

                        <!---<p id="txt_inp1" style="height:200px; width:80%; margin:0 auto; border:1px solid #ccc;"></p>
                    <p id="txt_inp" style="height:200px; width:80%; margin:0 auto; border:1px solid #ccc;"></p>
                    <form name="form1" style=" width:80%; margin:0 auto; border:1px solid #ccc;"> 
                        <input type="text" style="width:100%;height:auto; padding:5px;font-size:20px; font-family:'verdana'; border:0px;" onkeyup="daman()" id="dtt" name="datText" value="" placeholder="Enter data " onkeypress="fcs(event)">
                        <input type="submit" value="submit" id="sbm">
                    </form>-->
                    
                </article>                
            </main>    
            <div style="position:fixed;left:0;right:0;height:80px;bottom:0;border-top:1px solid #ddd;background:white;z-index:20">                
                <div style="width:740px;height:100%; margin:0 auto;padding:25px 0px 0px; text-align:right;">
                    <select name="tags" id="tags" required>
                        <option value="" Disabled selected>Select Your Tags</option>
                        <option value="Technology">Technology</option>
                        <option value="Creativity">Creativity</option>
                        <option value="Entrepreneurship">Entrepreneurship</option>
                        <option value="stories">Real Stories</option>
                        <option value="design">Digital Designs</option>
                    </select>

                    <button type="submit" onclick="das(event)" data-publish="publish" style="background:#218432;color:white;border:0px;padding:8px 22px;border-radius:2px; font-size:12px; font-family:verdana,sans-serif;text-transform:uppercase;letter-spacing:.4px;">Publish</button>
                </div>
            </div>
            <script>
              
                function das(e) {
                    e.preventDefault();
                    var as = `<%= someAttribute %>`;      
                   var am = `<%= userId %>`;
                    console.log(am);
                    var titles = document.querySelector("h3.graf-title").innerHTML;
                    var date = new Date();            
                    var sec = document.querySelector(".section-inner");
                    var tags = document.querySelector("#tags").value;
                    if(tags == '') {
                        alert("Please Select valid Tags");
                    } else {
                    console.log(tags);                    
                    var dataIt = [];        
                    var serd ='';
                    for(var i=0;i<sec.children.length;i++) {
                        var tagsName = sec.children[i].tagName.toLowerCase();
                        var tagContent = sec.children[i].innerHTML;
                        var subtitles = false;
                        var figures= false;
                        
                        var imageId= "";
                        if(sec.children[i].dataset.subtitle) {
                            subtitles = true;
                        }
                        if(sec.children[i].dataset.figure) {
                            figures=true;
                            //imageId =  sec.children[i].children[0].getAttribute("src");
                            imageId=sec.children[i].children[0].getAttribute("data-imageName");
                            //serd = sec.children[i].children[0].getAttribute("data-imageName");
                            tagContent="";
                            
                        }
                        console.log(tagsName+ " "+ tagContent);
                    var one =[{                                                                                        
                            tag:tagsName,
                            tagContent:tagContent,
                            isSubtitle: subtitles,
                            isFigure: figures,
                            figures: {
                                imageId:imageId
                            }
                        }];
                        
                        dataIt.push(one);
                    }
                    var q = document.querySelectorAll("figure");                  
                    var imgFet;
                    if(q.length>0) {                        
                        imgFet = q[0].children;                                          
                        imgFet = imgFet[0].getAttribute("src");                     
                    }  else {
                        imgFet="/assets/images/"+tags.toLowerCase()+".png";
                    }
                    
                var data = {CreatorId:`<%= userId %>`,
                            CreatingDate: date,
                            tags:tags.toLowerCase(),                            
                            title:titles,
                            featuresImage:imgFet,
                            content:{                                        
                                bodyModel: {
                                    dataIt
                                }
                                //bodyModel:{
                                    //htmlContent: 
                                        //dataIt                                                                                       
                                //}                                    
                            }                                
                        }; //Array  
                        
/*                        document.querySelector("#btnsub").click(function(e){                        
                    return false;
                });                                       */
                $.ajax({
                    type: 'POST',
                    data: JSON.stringify(data),                               
                    contentType:'application/json',                          
                    //enctype: 'multipart/form-data',
                    url: 'http://localhost:3000/endpoint',                            
                    success: function(data)
                    {
                        //data - response from server
                
                    
                window.location=window.location.origin + data;
                console.log("Working");

                    }
                });
            
            }
            };
            </script>
            <script>                   
                    /*var txtAre = document.querySelector("#dtt");   
                    var as = document.querySelector("#sbm");
                    var a = document.querySelector("#txt_inp");
                    var d = document.querySelector("#txt_inp1");
                function daman() {            
                    a.innerHTML = txtAre.value;
                    
                }
                function fcs(e) {
                        if(e.keyCode==13) {
                            alert("KEy is Enter");
                        }
                    }
                as.addEventListener("click", function(e) {
                    e.preventDefault();
                    alert(txtAre.value);
                    alert(a.innerHTML);
                        a.innerHTML += txtAre.value;
                        txtAre.value ="";
                }); 
                d.onselect = function() {
                    alert("Daman");
                }
                */ 
            </script>

            <footer id="mainFooter">
                <div class="fixedWidth">
                    <div class="footsWrap">
                        
                    </div>
                </div>
            </footer><!-- ********* Footer ********** -->
            
        </div>
    </body>
</html>