<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
        
        </title>
        <meta name="author" content="Damanvir Singh">
        <link rel="stylesheet" href="/assets/css/font-awesome.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <div id="pageCtn">
            <header id="mainHeader">
                <div class="topHeader">
                    <div class="fixedWidth">
                        <div class="headsWrap">
                            <div class="topHeaderWrapper clearfix">
                                <div class="leftSection">
                                </div>
                                <div class="rightSection">
                                    <ul class="extraNav">
                                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                        <% if( typeof(someAttribute) !== 'undefined' ) { %>
                                            <li><%=someAttribute%></li>
                                            <li><a href="logout">Logout</a></li>
                                        <%}else{%>
                                        <li><a href="../GettingStarted/#SigningIn">Sign in</a></li>
                                        <li class="signUpPage"><a href="../GettingStarted">Get Started</a></li>
                                        <%}%>
                                    </ul>
                                </div>
                                <div class="logoCtn">
                                    <h1>Logo</h1>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </header><!-- ********* Header *********** -->

            <main>
                <article style="width:740px; margin:0 auto; margin-top:20px;">
                        <header>
                                <div class="ctnProfile clearfix">
                                    <div class="leftSection">
                                        <div class="imageWrapperProf" style="height:40px; width:40px;border-radius:50%;overflow:hidden">
                                            <img src="<%= user1.imageId %>" style="height:100%;width:40px;">
                                            <%= user1.imageId %>
                                        </div>
                                    </div>
                                    <div class="leftSection" style="padding-left:12px;padding-top:5px;">                                
                                        <h5 style="color:rgba(1,1,1,.65);font-size:12px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><%= user1.fullName %></h5>
                                        <p style="margin-bottom:0px;font-size:14px;color:rgba(1,1,1,.3);font-style:italic"><%= user1.bio %></p>
                                    </div>
                                </div>
                            </header>
                                                
                                <div class="">
                                                                 
                                        <% for(var i=0;i<da.length-1;i++) {%>                                            
                                         <% for (var key in da[i]) { %>
                                            <% if (!da[i][key].isFigure) {%>
                                                <% if (da[i][key].tag == 'h3') {%>
                                                    <<%= da[i][key].tag %> class="graf-title"><%- da[i][key].tagContent %></<%= da[i][key].tag %>>
                                                 <%}else{%>       
                                                    
                                                    <<%= da[i][key].tag %> class="graf-p"><%- da[i][key].tagContent %></<%= da[i][key].tag %>>
                                                    
                                                <%}%>
                                            <%}else{%>
                                                <<%= da[i][key].tag %> class="graf-p"><img src="<%= da[i][key].figures.imageId %>" style="width:100%"></<%= da[i][key].tag %>>
                                            <%}%>
                                        <% } %>
                                        <%} %>
                                  
                                </div>
                            
                    <script>
                        
                    </script>
                   <!-- <script>
                        console.log(`<%daman%>`);
                        //var jsonObj = eval('(' + `      {<%= daman %>` + ')');
                        //console.log(jsonObj);
                        //console.log(typeof `<%= daman %>`);
//                        var d= `<%=daman%>`;
  //                      console.log(d["_id"]);
                        //var c= JSON.parse(JSON.stringify(d));
                        //console.log(JSON.parse(c));
                        //console.log(d.figures.imageId);
                    </script>-->
                    
                </article>                
            </main>    
            
            <footer id="mainFooter">
                <div class="fixedWidth">
                    <div class="footsWrap">
                        <div class="footerWrapper clearfix">
                            <div class="leftSection">
                                <ul>
                                    <li>All rights reserved.</li>
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">About</a></li>
                                </ul>
                            </div>
                            <div class="rightSection">
                                <ul>
                                    <li><a href="https://www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.youtube.com"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.plus.google.com"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="centerLogo">logo</div>
                        </div>
                    </div>
                </div>
            </footer><!-- ********* Footer ********** -->
            
        </div>
    </body>
</html>